%h1{class:"song-title",data: {songId:@song.id}} 
  = @song.title
%p{class:"lyrics",style:"white-space: pre;"}
  = @song.lyrics.first.content
.song-info
  .keywords
    -@song.keywords.each_with_index do |keyword,index|
      .song-card
        .keyword-card{:data=>{keywordid:index,paramid: keyword.id }}
          .keyword-name
            = "#{keyword.name} (#{keyword.word_class})"
          .keyword-description
            = keyword.definition
          .keyword-comments
            = form_for @comment do |f|
              = f.text_field :content
              = f.submit :class => "comment-submit"
          .comment-section
            %ul
              - keyword.comments.each do |comment|
                %li{class:"comment-content"}
                  .comment-user
                    .comment-user-image{style:"width:50px"}
                      %img{ src: "#{User.find(comment.user_id).image_url}"}
                    .comment-user-name
                      = User.find(comment.user_id).name
                  .comment-text
                    = comment.content

:javascript
  "#{j @song.keywords.map{|x| x.name }.to_s}"
  
 





