%h1 
  = @song.title
%p{style:"white-space: pre;"}
  = @song.lyrics.first.content
.keywords
  -@song.keywords.each_with_index do |keyword,index|
    .keyword-card{:data=>{keywordid:index }}
      .keyword-name
        = "#{keyword.name} (#{keyword.word_class})"
      .keyword-description
        = keyword.definition
      .keyword-comments
        = form_for @comment do |f|
          = f.text_field, :submit
          = f.submit

    


:javascript
  "#{j @song.keywords.map{|x| x.name }.to_s}"
  
 





